## 파이썬 기초

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [8]:
!python -V

Python 3.8.13

In [ ]:
# 표현식
print(273)
10+20+30

273

60

In [2]:
# 표현식이 하나 이상씩 모이면 문장
print("Hello Python")
print(52, 'Hello Python', 5+3)

Hello Python
52 Hello Python 8

In [10]:
# 문장이 모여서 프로그램
a = 1;b = 1;c=a+b
print(c)

2

In [12]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [4]:
# python keyword
import keyword
print(keyword.kwlist,'\n')
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

식별자 기본 규칙 : 식별자는 코드 내의 변수, 함수 혹은 속성을 식별하는 문자열
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_) 만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [5]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
ALPHA
has space # 공백

SyntaxError: invalid syntax (2613662511.py, line 5)

https://bibi6666667.tistory.com/277  
파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist     item_list     ItemList
- loginstatus  login_status  LoginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [1]:
print('3이 있습니다.')

3이 있습니다.

In [3]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: print('3이 있습니다.')

3이 있습니다.

#### 2진수,8진수,16진수의 모든것
https://itbeginner2020.tistory.com/17

In [ ]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [15]:
# 2진수를 10진수로 표현
g1 = 0b100000
g2 = 0b1000
g3 = 0b10
print(g1)
print(g2)
print(g3)

32
8
2

In [22]:
# 16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

10
11
171
171

In [ ]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b
f = a % b  # 나머지
g = a // b # 몫
h = 2 ** 3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [4]:
# 다른 타입간 연산은 안됨
string = "문자열 "
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [7]:
print(type(string))
type(number)

<class 'str'>

int

In [8]:
a = 10
a = "문자"
a = 100
print(a)
type(a)

100

int

In [9]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [11]:
num = 100
num *= 10
num -= 990
num /= 10
print(num)
print(type(num))

1.0
<class 'float'>

In [13]:
a = "나는 "
b = "파이썬을 "
c = "좋아한다"
a + b + c

'나는 파이썬을 좋아한다'

In [15]:
a = "파이썬 "
b = '3.8'
print(type(b))
a + b

<class 'str'>

'파이썬 3.8'

In [1]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: 안녕하세요.

'안녕하세요.'

In [ ]:
num = input('숫자를 입력하세요: ')
print(num)
type(num)

숫자를 입력하세요: 10
10

str

In [17]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1 + num2)

숫자를 입력하세요5
숫자를 입력하세요5
55

In [ ]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n + num2_n)

숫자를 입력하세요5
숫자를 입력하세요5
10

In [ ]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

In [ ]:
# A.
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2)
print(num1_n + num2_n)
# print(num1 + num2)

숫자를 입력하세요3
숫자를 입력하세요3.3
6.3

In [ ]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 
# 자료형으로 변환하세요.

In [ ]:
# A.
a = 52
b = 52.273
print(str(a) + str(b))

5252.273

In [21]:
# 문자열 : "", '', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

python's value is great

In [23]:
s1 = '"python is valuable" he says'
s1

'"python is valuable" he says'

In [24]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [28]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
You need Python'''
print(y2)
y3 = """nce you study data analysis
You need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
You need Python
nce you study data analysis
You need Python

In [ ]:
# string = '''"What a wonderful world!"\n he said loudly'''
string = '''"What a wonderful world!"
he said loudly'''
print(string)

"What a wonderful world!"
he said loudly

In [ ]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

Python is easy to learn
PythonPythonPython
====================

In [ ]:
# 자료형 - List 
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [31]:
# 인덱싱 : 0부터 시작
list1 = [1,2,3,4,5]
list1[:]

[1, 2, 3, 4, 5]

In [34]:
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3[2])
print(list3[3][4])
print(list3[4][1])

abc
5
b

In [36]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[0] = 1
b[1] = 'a'
print(a)
print(b)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [37]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
c = a + b
print(c)
c[-1] = 1
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 1]

In [ ]:
c[-2] = 2
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 2, 1]

In [ ]:
# 정렬
b = [2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d = sorted(b, reverse=True)
print(b_d)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [ ]:
# 정렬 ,내림차순으로 변환
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

s.sort()
print(s)
s_d = sorted(s, reverse=True)
print(s_d)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [55]:
# 인덱스 위치 반환
c = [1,2,3,1,5]
print(c.index(3))

2

In [44]:
import numpy as np

np.random.randint(5, size=100) # 0 ~ 4 사이에서 무작위로 100개의 정수를 배열로 출력

array([3, 0, 0, 0, 0, 3, 1, 1, 1, 0, 1, 4, 3, 2, 0, 0, 0, 3, 0, 1, 0, 1,
       1, 0, 3, 3, 4, 3, 1, 3, 4, 4, 4, 4, 1, 1, 1, 4, 2, 3, 4, 2, 4, 0,
       2, 1, 0, 2, 1, 1, 0, 1, 0, 1, 0, 3, 0, 3, 1, 3, 1, 3, 4, 0, 3, 0,
       3, 1, 0, 1, 4, 4, 3, 0, 3, 4, 1, 0, 4, 4, 3, 2, 4, 4, 0, 3, 0, 3,
       1, 0, 4, 4, 0, 3, 0, 2, 4, 4, 2, 2])

In [53]:
# tolist() 리스트로 변환
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)
print(len(c))
c.index(1) # 1의 인덱스

[56, 76, 54, 76, 95, 80, 43, 83, 10, 27, 60, 53, 33, 36, 20, 59, 52, 82, 4, 97, 73, 64, 46, 40, 76, 53, 9, 79, 94, 15, 85, 7, 68, 32, 11, 17, 81, 25, 90, 53, 30, 98, 47, 3, 54, 78, 55, 84, 1, 56, 33, 35, 79, 26, 61, 79, 68, 13, 65, 97, 1, 60, 55, 21, 14, 3, 60, 65, 45, 98, 70, 14, 5, 30, 68, 14, 35, 63, 29, 1, 35, 62, 95, 76, 97, 97, 21, 71, 14, 42, 41, 66, 73, 3, 15, 53, 75, 12, 83, 44]
100

48

In [57]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(5))

2

In [ ]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(10,7)
print(h)
len(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

8

In [ ]:
# Q. list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 아래와 같이 출력하세요
list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# [0, 2, 4, 6, 8]
# [1, 3, 5, 7, 9]
# [2, 1, 0]

In [62]:
list=[0,1,2,3,4,5,6,7,8,9]
print(list[0::2])

list=[0,1,2,3,4,5,6,7,8,9]
print(list[1::2])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [73]:
list=[0,1,2,3,4,5,6,7,8,9]
list.reverse()
print(list[7:])

[2, 1, 0]

In [72]:
list=[0,1,2,3,4,5,6,7,8,9]
li = sorted(list,reverse=True)
print(li)
print(li[7:])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[2, 1, 0]

In [3]:
# Q. list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 아래와 같이 출력하세요
list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# [0, 2, 4, 6, 8]
# [1, 3, 5, 7, 9]
# [2, 1, 0]

print(list[::2])
print(list[1::2])
print(list[2::-1])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[2, 1, 0]

In [81]:
np.random.randint(100, size=20)

array([58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54,  8, 33, 11, 27, 49, 63,
       98, 22, 82])

[과제] list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 82의 갯수를 구하기
- 87의 인덱스 구하기
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [3]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(list1[11][1])

33

In [4]:
list1.append(82)
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

In [5]:
list1.count(82)

2

In [6]:
print(list1.index(87))

5

In [8]:
# 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2= list1[3:11]
list2.sort()
list2.reverse()
print(list2)

[87, 54, 39, 29, 19, 15, 13, 4]

In [9]:
# 39를 11로 변경
a = list1.index(39)
list1[a] = 11
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [10]:
# [69,45,58] 출력
print(list1[2::-1])

[69, 45, 58]

In [11]:
# 짝수 인덱스의 값으로 구성된 리스트 출력하기
print(list1[0::2]) #8번

[58, 69, 4, 29, 11, 54, 27, 63, 22]

In [12]:
# 인덱스가 가장 큰수를 삭제하기
del list1[-1]
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22]

In [13]:
# 인덱스 3, 5인 값으로 4칙 연산하기
a = list1[3]
b = list1[5]

print(a+b, a-b, a*b, a/b)

106 -68 1653 0.21839080459770116

In [14]:
# 튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

print(tuple1[:])
print(tuple3[2])
print(tuple3[3][4])
print(tuple3[4][1])

(1, 2, 3, 4, 5)
abc
5
b

In [15]:
list1 = [1, 2, 3, 4, 5]
print(list1)
list1[0] = 6
print(list1)

[1, 2, 3, 4, 5]
[6, 2, 3, 4, 5]

In [16]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용
tuple1 = (1,2,3,4,5)
tuple1[0] = 6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [18]:
t1 = (1,) # 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)
print(type(t1))
t2 = 1,2,3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
print(type(t4))

(1,)
<class 'tuple'>
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1
<class 'int'>

In [ ]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [ ]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [ ]:
c1 = {'삼각김밥':700, '컵라면':1500, '감동란':2500}
print(c1.keys())
c1['삼각김밥'] = 1000
print(c1.values())
print(c1.items())

dict_keys(['삼각김밥', '컵라면', '감동란'])
dict_values([1000, 1500, 2500])
dict_items([('삼각김밥', 1000), ('컵라면', 1500), ('감동란', 2500)])

Quiz : 사전 형식으로 표현할 수 있는 데이터 셋을 만들어 보세요.(재미있게!!!)

In [19]:
# 슈퍼스타 k2 top 6 순위

c2 = {'허각':1, '존박':2, '장재인':3, '강승윤':4, '김지수':5, '김은비':6}
print(c2.keys())
print(c2.values())
print(c2.items())

dict_keys(['허각', '존박', '장재인', '강승윤', '김지수', '김은비'])
dict_values([1, 2, 3, 4, 5, 6])
dict_items([('허각', 1), ('존박', 2), ('장재인', 3), ('강승윤', 4), ('김지수', 5), ('김은비', 6)])

In [20]:
name=input('이름를 입력하세요: ',)
phone=int(input('전화번호를 입력하세요: ')) 
birth=int(input('생일를 입력하세요: '))
d2 = {'name': name, 'phone': phone, 'birth': birth}
print(d2)

이름를 입력하세요: 강승윤
전화번호를 입력하세요: 01022223333
생일를 입력하세요: 0307
{'name': '강승윤', 'phone': 1022223333, 'birth': 307}

In [21]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'e', 'H', 'l', 'o'}

In [22]:
# 집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1)
print(l1[1])
l2 = list(s2)
print(l2)
print(l2[1])

[1, 2, 3, 4, 5]
2
['e', 'H', 'l', 'o']
H

In [ ]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.
# 합집합(s1 | s2), 교집합(s1 & s2)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [24]:
# 들여쓰기
li = ['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [28]:
# 문자열 포멧

name = '홍길순'
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길순입니다. 나이는 20입니다.'

In [27]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

Quiz : 여러분에 대한 간단한 소개를 문자열 포멧을 사용해서 수행하세요.
name, 취미, 기타 등등

In [31]:
# 간단한 소개
name = '윤정현'
hobby = '영화감상'
etc = 'IT 유경험자'

f'나는 {name}입니다. 취미는 {hobby}이고 특이사항으로는 {etc}입니다.'

'나는 윤정현입니다. 취미는 영화감상이고 특이사항으로는 IT 유경험자입니다.'

In [30]:
d = {'name':'김태현', 'age':27,'foot':300 }
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다. 발사이즈는 {d["foot"]}입니다. '

'나의 이름은 김태현입니다. 나이는 27입니다. 발사이즈는 300입니다. '

In [33]:
name = '오창석'
age = 100
f'나의이름은 {name}입니다.'

'나의이름은 오창석입니다.'

In [35]:
y = 3.42134234
f'{y:0.4f}'  # 소수점 4자리까지만 표현

'3.4213'

In [38]:
f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [39]:
# 포멧함수
f1 = "{} 선수가 {}등입니다.".format('홍길동',1)
# f1 = "{1} 선수가 {0}등입니다.".format(1,'홍길동')
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1))

홍길동 선수가 1등입니다.
홍길동 선수가 1등입니다.

In [ ]:
파이썬은 자바보다 2배 쉽습니다.

In [ ]:
f1="{}은 {}보다 {}배 쉽습니다".format("파이썬","자바",2)
print(f1)
print("%s은 %s보다 %d배 쉅습니다."%("파이썬","자바",2))

파이썬은 자바보다 2배 쉽습니다
파이썬은 자바보다 2배 쉅습니다.

In [30]:
# [과제] 아래와 같이 출력하세요.
num1 = 12345
print(num1)
print(f'{num1:10.0f}')
num2 = 12.345679
print(num2)
print(f'{num2:16.3f}')

12345
     12345
12.345679
          12.346

In [40]:
# 제어문 - if~elif~else
# "수입과 지출금액을 비교해서 수입이 많은면 저축 증가, 반대이면 빚이 증가, 
# 같으면 현상 유지"
i = 5,000,000
e = 5,000,000

if i > e:
    print('저축 증가')
elif i < e:
    print('빛이 증가')
else:
    print('현상 유지')

현상 유지

In [45]:
i = 5,000,000
e = 5,000,000

if i > e:
    print('저축 증가')
if i < e:
    print('빛이 증가')
if i == e:
    print('현상 유지')

현상 유지

In [46]:
numbers = [5,15,6,20,7,25]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])

5
15
6
20
7

In [49]:
# for 반복문
numbers = [5,15,6,20,7,25]
for n in numbers:
    print(n)

5
15
6
20
7
25

In [ ]:
import numpy as np
num = np.arange(10000).tolist()
for n in num:
    print(n)

In [53]:
import random

lotto_numbers = random.sample(range(1, 46), 7)
lotto_numbers.sort()

print("Lotto numbers:")
for num in lotto_numbers[:-1]:
    print(num, end=' ')
print("\nBonus number:", lotto_numbers[-1])

Lotto numbers:
15 17 21 26 38 40
Bonus number: 42

In [54]:
c1 = {"와퍼":3900,"치즈와퍼":7500,"불고기와퍼":6900,"스태커2와퍼":9500,"스태커3와퍼":11500,"갈릭불고기와퍼":7300}
c1["와퍼"]=6900 #딕셔너리 값은 수정 가능
a=list(c1.keys())
print("메뉴를 선택하세요. q를 입력하면 종료됩니다.")
print("%s" %a)
menu = input()

while menu !="q":
    if menu in c1:
        print(c1.get(menu), end="");print("원 입니다.")
        menu = input()
    else:
        print("선택한 메뉴가 존재하지 않습니다.")
        menu = input()
print("프로그램을 종료합니다.")

메뉴를 선택하세요. q를 입력하면 종료됩니다.
['와퍼', '치즈와퍼', '불고기와퍼', '스태커2와퍼', '스태커3와퍼', '갈릭불고기와퍼']
치즈와퍼
7500원 입니다.
q
프로그램을 종료합니다.

In [ ]:
# for ~ continue ~ break
# 1~10 범위의 정수에서 1부터 5까지만 출력하세요
for i in range(1,11):
    print(i,end=' ')
    if i < 5:
        continue
    else:
        break

1 2 3 4 5

Quiz : numbers 리스트에서 15,20,25를 출력하세요.(for문과 if 조건 사용 필수)<br>
numbers = [5,15,6,20,7,25]

In [55]:
numbers=[5,15,6,20,7,25]
li=[15,20,25]

for number in numbers:
    if number in li:
        print(number,end=' ')

15 20 25

In [56]:
numbers = [5,15,6,20,7,25]
i = 0
for number in numbers:
    i += 1
    if i%2 == 1:
        continue
    else:
        print(number, end=" ")

15 20 25

In [57]:
# numbers 리스트에서 15,20,25를 출력하세요.(for문과 if 조건 사용 필수)
numbers = [5,15,6,20,7,25]

for number in numbers:
    if number > 10:
        print(number,end = ' ')
    else:
        continue

15 20 25

In [58]:
for number in numbers:
    if number < 10:
        continue
    else:
        print(number,end = ' ')

15 20 25

In [63]:
# while
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

45
1035

Q: while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요.

In [1]:
i = 1
sum = 0
while i < 1001:
    if i%3 ==0:
        sum = sum+i
    i += 1
print(sum)

166833

Q:1부터 100까지의 정수중 5에서 95까지의 합을 구하세요.

In [2]:
i = 0
sum = 0
while i < 101:
    i += 1
    if i > 4:
        if i < 96:
            sum = sum + i
print(sum)

4550

Q: 5를 2로 나누었을때의 몫과 나머지를 구하세요.

In [4]:
a = 5//2
b = 5%2

print("5를 2로 나누었을 때의 몫은 %s, 나머지는 %s입니다."%(a,b))
print(f'5를 2로 나누었을 때의 몫은 {a}, 나머지는 {b}입니다.')

5를 2로 나누었을 때의 몫은 2, 나머지는 1입니다.
5를 2로 나누었을 때의 몫은 2, 나머지는 1입니다.

In [ ]:
# while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요.
i=0
sum=0

while i<1000:
    i+=1
    if i%3==0:
        sum =sum+i

print(sum)

166833

In [ ]:
# [과제] 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요.
num = 1
sum = 0
while num <= 100:
    if (num >= 5 and num <= 95):
        sum += num
    num += 1
    
print(sum)

4550

In [ ]:
# 5를 2로 나누었을때의 몫과 나머지를 구하세요.
a = 5
b = 2
print(a//b)
print(a%b)

2
1

In [5]:
# 101의 3승을 구하세요
print(101**3)

1030301

In [ ]:
# Python과 3.8.3을 합쳐서 Python 3.8.3으로 출력하세요
a = 'Python'
b = ' 3.8.3'
print(a+b)

Python 3.8.3

In [ ]:
# a = 5 a = '10' a = 15일때 a의 자료형은 무엇인가?
a = 5;a = '10';a = 15
type(a)

int

Q: 5의 3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하세요.

In [6]:
a=5
a**=3
a%=3
print(a)

2

Q : 아래와 같이 출력하는 프로그램을 작성하세요.<BR>
이름이 무엇인가요? kevin<BR>
제 이름은 kevin입니다.

In [7]:
print("이름이 무엇인가요?")
name = input()

print(f"제 이름은 {name}입니다.")

이름이 무엇인가요?
kevin
제 이름은 kevin입니다.

Q: 숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 나누었을 때 몫을 구하세요.

In [8]:
x=int(input("숫자 3개를 입력하세요: "))
y=int(input())
z=int(input())

print(x**y//z)

숫자 3개를 입력하세요: 5
3
5
25

In [1]:
# [과제]
# Q. while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요.
a=1
sum=0
while a<1001:
    if a%3==0:
        if a%5==0:
            sum+=a
    a+=1
print(sum)

33165

In [19]:
i=1
sum=0
while i<1001:
    if i%15==0:
        sum=sum+i
    i=i+1 
print(sum)

33165

In [3]:
# [과제] 1부터 5까지 입력해서 12345를 출력하세요

print("1부터 5까지 입력해 주세요.")
a = input()
b = input()
c = input()
d = input()
e = input()
print(a+b+c+d+e)

1부터 5까지 입력해 주세요.
1
2
3
4
5
12345

In [4]:
# [과제] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

list = [0,1,2,3,4,5,6,7,8,9,'a','b','c'] 
list.remove (9)
list.remove ('a')
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [5]:
list = [0,1,2,3,4,5,6,7,8,9, 'a','b','c']
del list[9]
del list[9]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [6]:
# [과제] [0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']에서 'c'를 삭제 후 출력하세요.

g=[0,1,2,3,4,5,6,7,8,9,'a','b','c']
del g[-1]
print(g)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b']

In [7]:
# [과제] [4, 8, 5, 4, 8, 4, 3, 9, 1, 9]를 내림차순으로 정렬하세요

li=[4,8,5,4,8,4,3,9,1,9]

li.sort()
li.reverse()
print(li)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [8]:
list1 = [4, 8, 5, 4, 3, 4, 3, 9, 1, 9]
list1.sort(reverse=True)
print(list1)

[9, 9, 8, 5, 4, 4, 4, 3, 3, 1]

In [9]:
h=[4,8,5,4,8,4,3,9,1,9]
i=sorted(h, reverse=True)
print(i)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [10]:
# [과제] format 함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요.
# 2021년 12월 29일 15시 47분 30초

print("{}년 {}월 {}일 {}시 {}분 {}초".format(2021, 12, 29, 15, 47, 30))

2021년 12월 29일 15시 47분 30초

In [11]:
import datetime
now=datetime.datetime.now()
print(now)
y,mo,d,h,m,s=now.year,now.month,now.day,now.hour,now.minute,now.second

print(f"오늘 날짜는 {mo}월 {d}일입니다. 현재 시각은 {h}시 {m}분 {s}초입니다.")

2023-03-08 09:22:54.534074
오늘 날짜는 3월 8일입니다. 현재 시각은 9시 22분 54초입니다.

In [15]:
# [과제] 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.

from datetime import datetime

now = datetime.now()
if now.hour < 12:
    print("현재는 오전입니다")
else:
    print("현재는 오후입니다.")

현재는 오전입니다

In [18]:
# [과제] 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

num = int(input("정수를 입력해주십시요"))
if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

정수를 입력해주십시요0
짝수입니다.

[과제] 계절 구분 프로그램
<!--  - 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램 -->
 - 각 계절별 출력 멘트는 계절에 맞게 창작
 - if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [20]:
import datetime
t = datetime.datetime.now()

print('지금 우리가 지내는 계절은 어디쯤에 있나요?')
if t.month<12 and t.month>=9:
    print('단풍이 지천을 물들이는 계절, 가을입니다.')
elif t.month<9 and t.month>=6:
    print('작열하는 태양과 신록이 공존하는 계절, 여름입니다.')
elif t.month<6 and t.month>=3:
    print('벚꽃의 꽃말은 기말고사, 봄입니다.')
else: print('살고 싶으면 장롱에 있던 히트텍 꺼내라 ㅋㅋ')

지금 우리가 지내는 계절은 어디쯤에 있나요?
벚꽃의 꽃말은 기말고사, 봄입니다.

[과제] 커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [21]:
coffee = 5
price = 300

while 1:
    money = int(input("맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!"))
    if money == 300:
        print('커피를 맛있게 드세요')
        coffee -= 1
    elif money > 300:
        c = money - 300
        print(f'따뜻한 커피 드시고 잔돈 {c}원을 챙기세요' )
        coffee -= 1
    else:
        print(f'커피는 {price}원입니다. 현금을 다시 넣어 주세요.')
    if coffee == 0:
        print('커피가 다 떨어졌어요~ 잠시 판매 중단합니다.')
        break

맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!300
커피를 맛있게 드세요
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!200
커피는 300원입니다. 현금을 다시 넣어 주세요.
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!500
따뜻한 커피 드시고 잔돈 200원을 챙기세요
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!300
커피를 맛있게 드세요
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!1000
따뜻한 커피 드시고 잔돈 700원을 챙기세요
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!300
커피를 맛있게 드세요
커피가 다 떨어졌어요~ 잠시 판매 중단합니다.

In [ ]:
stock = 5
fee = 300

while 1:
    if(stock==0):
        print("재고가 다 소진되었습니다.")
        break
    
    money = int(input("금액을 투입해주세요: "))
    
    if(money>=300):
        if(money>=600):
            sold = int(input("몇 잔 구매하시나요? > "))
            charge = money-(sold*fee)
        else:
            sold = money//fee
            charge = money%fee
        
        if(stock<sold):
            print("재고가 부족합니다. 부족한 만큼의 금액을 반환합니다.")
            sold=stock
            charge=money-(sold*fee)
            
        print("커피 %d잔 구매" %sold)
    
        if(charge!=0):
            print("거스름돈 %d원 반환" %charge)
        stock-=sold
        
    else:
        print("잔액이 부족합니다.")
        charge=money
        print("거스름돈 %d원 반납" %charge)
    
    print()

[도전과제] 사용자가 입력한 게임 회수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 불허)

In [22]:
import random, string
cn = 'y'
print('☆★로또번호 생성기★☆')
while(cn == 'y'):
    game = input('게임 횟수를 입력하세요(숫자만 입력): ')
    if(game.isdigit() == True):
        for i in range(0, int(game)):
            lotto = random.sample(range(1,46),6)
            #lotto.sort() #예쁘게 보고 싶으면 하면 됩니다
            print(lotto)
            cn = 'n'
    else:
        print("숫자를 입력하세요")
        continue

☆★로또번호 생성기★☆
게임 횟수를 입력하세요(숫자만 입력): 5
[21, 5, 22, 17, 7, 38]
[29, 41, 32, 8, 6, 11]
[43, 25, 20, 24, 8, 14]
[28, 2, 8, 24, 1, 30]
[40, 13, 6, 39, 14, 8]

[도전과제] 우리반의 발표자를 무작위로 선정하는 프로그램을 작성하세요<br>
hmkd1 = ['김나영','김동완','김예슬','김용훈','김태현','남동연','박서진','박주경',
         '손아','옥유리', '옥주리','윤예은','윤정현','이승주','임수현','장인혁',
        '정슬기','한나영','조차선','이지연','김성호','오윤택','최정인']

In [23]:
name = ['김나영','김동완','김예슬','김용훈','김태현','남동연','박서진','박주경', '손아','옥유리', '옥주리',
         '윤예은','윤정현','이승주','임수현','장인혁', '정슬기','한나영','조차선','이지연','김성호','오윤택','최정인']

li = []
num = int(input('입력> '))
p = random.sample(range(len(name)),num)

for i in p:
    li.append(name[i])

print(li)

입력> 3
['손아', '정슬기', '옥유리']

#### 날짜 처리

time — 시간 액세스와 변환

https://docs.python.org/ko/3/library/time.html

포맷 코드 표<BR>
포맷코드	설명	예<BR>
%a	요일 줄임말	Sun, Mon, ... Sat<BR>
%A	요일	Sunday, Monday, ..., Saturday<BR>
%w	요일을 숫자로 표시, 월요일일요일, 06	0, 1, ..., 6<BR>
%d	일	01, 02, ..., 31<BR>
%b	월 줄임말	Jan, Feb, ..., Dec<BR>
%B	월	January, February, …, December<BR>
%m	숫자 월	01, 02, ..., 12<BR>
%y	두 자릿수 연도	01, 02, ..., 99<BR>
%Y	네 자릿수 연도	0001, 0002, ..., 2017, 2018, 9999<BR>
%H	시간(24시간)	00, 01, ..., 23<BR>
%I	시간(12시간)	01, 02, ..., 12<BR>
%p	AM, PM	AM, PM<BR>
%M	분	00, 01, ..., 59<BR>
%S	초	00, 01, ..., 59<BR>
%Z	시간대	대한민국 표준시<BR>
%j	1월 1일부터 경과한 일수	001, 002, ..., 366<BR>
%U	1년중 주차, 월요일이 한 주의 시작으로	00, 01, ..., 53<BR>
%W	1년중 주차, 월요일이 한 주의 시작으로	00, 01, ..., 53<BR>
%c	날짜, 요일, 시간을 출력, 현재 시간대 기준	Sat May 19 11:14:27 2018<BR>
%x	날짜를 출력, 현재 시간대 기준	05/19/18<BR>
%X	시간을 출력, 현재 시간대 기준	'11:44:22'

In [1]:
# Q. 1609160537.371015을 'Mon Dec 28 22:02:17 2020' 포멧으로 출력하세요.

import time
t = time.localtime(1609160537.371015)
time.asctime(t)

'Mon Dec 28 22:02:17 2020'

In [4]:
# Q. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.
import time
t = time.localtime()
print(t)
print("%s " % time.asctime(t))
print(f'{time.asctime(t)}')

time.struct_time(tm_year=2023, tm_mon=3, tm_mday=8, tm_hour=11, tm_min=25, tm_sec=2, tm_wday=2, tm_yday=67, tm_isdst=0)
Wed Mar  8 11:25:02 2023
Wed Mar  8 11:25:02 2023

In [7]:
# Q. 현재 시간을 년-월-일 시:분:초로 출력하세요.

import time
from datetime import datetime
t = time.time()
d = datetime.fromtimestamp(t)
s = d.strftime('%Y-%m-%d %X')
s

'2023-03-08 11:29:52'

In [10]:
# Q. 올해 경과된 날짜수 계산하세요
import time
t = time.localtime()
start_day = '%d-01-01' %t.tm_year
elabsed_day = t.tm_yday
elabsed_day
print(f'오늘은 {start_day} 이후 {elabsed_day}일째 되는 날입니다.')

오늘은 2023-01-01 이후 67일째 되는 날입니다.

In [12]:
# Q. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.
# python document 사용 필요
import time

weekdays = ['월','화','수','목','금','토','일']
t= time.localtime()
today = '%d-%d-%d' %(t.tm_year,t.tm_mon,t.tm_mday)
week = weekdays[t.tm_wday]
print(f'{today}일 오늘은 {week}요일 입니다.')

2023-3-8일 오늘은 수요일 입니다.

[과제1] 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.<br>
1000 밀리초(ms) = 1초

#### 함수

In [13]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI!'

a = say()
print(a)

HI!

In [14]:
# 입력값은 있고 결과값이 없는 함수
def add(a,b):
    print(f'{a}, {b}의 합은 {a+b}입니다.')
    
add(3,4)

3, 4의 합은 7입니다.

In [15]:
# 입력값도 결과값도 없는 함수
def say():
    print('Hi')
say()

Hi

In [16]:
# 입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

max(10,20,30)

30

In [18]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 * 를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

def add_many(*args):
    add = 0
    for i in args:
        add += i
    return add
add_many(1,2,3,4,5,6,7,8,9,10)

55

In [19]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [ ]:
# Q : add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용하여 덧셈,곱셈 연산을 수행하세요.
def add_mul(choice, *args):
    
    
    
add_mul('add', 1,2,3,4,5)